<h1>Calculator Design Using HTML Layout</h1>
	<div class="container">
        <div>
            <div class="col-sm-12 form-control text-lg-right data" input type="text">{{input}}</div>
        </div>
          <div>
            <div class="form-control text-sm-right output" input type="text">{{result}}</div>
          </div>
		<div class="first-row">
			<input type="button" name="" (click)="clear()" value="Del" class=" red small white-text top-margin">
			<input type="button" name="" (click)="allClear()" value="Clear" class=" red small white-text new">
		</div>
		<div class="second-row">
			<input type="button" name="" (click)="pressNum('7')" value="7" class="global">
			<input type="button" name="" (click)="pressNum('8')" value="8" class="global">
			<input type="button" name="" (click)="pressNum('9')" value="9" class="global">
			<input type="button" name=""  (click)="pressOperator('/')" value="/" class="global">
		</div>
		<div class="third-row">
			<input type="button" name="" (click)="pressNum('4')" value="4" class="global">
			<input type="button" name="" (click)="pressNum('5')" value="5" class="global">
			<input type="button" name="" (click)="pressNum('6')" value="6" class="global">
			<input type="button" name=""  (click)="pressOperator('*')" value="X" class="global">
		</div>
		<div class="fourth-row">
			<input type="button" name="" (click)="pressNum('1')" value="1" class="global">
			<input type="button" name="" (click)="pressNum('2')" value="2" class="global">
			<input type="button" name="" (click)="pressNum('3')" value="3" class="global">
			<input type="button" name="" (click)="pressOperator('-')" value="-" class="global">
		</div>
		<div class="fourth-row">
			<input type="button" name="" (click)="pressNum('0')" value="0" class=" global">
			<input type="button" name="" (click)="pressNum('.')" value="." class=" global">
			<input type="button" name="" (click)="pressNum('%')" value="%" class="global">
			<input type="button" name="" (click)="pressOperator('+')" value="+" class="global">
		</div>
		<div>
			<div class=""><input type="button" name="" (click)="getAnswer()" value="=" class="green small"></div>
		</div>
		<div class="right">
		</div>
	</div>